
div{
    height: 200px ;
    background-color: pink;
   /* border-width: 2px;
    border-style: solid;
    border-color: red;*/
    border:2px solid red ;
    border-radius: 100px;
    text-align: center;
   

}
h1{
    height: 200px;
    width: 500px;
    background-color:aquamarine ;
    border-width: 3px;
    border-style: dashed;
    border-color: black;
    text-align: center;
    border-radius: 20px;
}


#one{
    height: 200px;
    width: 200px;
    background-color: white;
    border-radius: 50%;
    border:2px solid black;
    text-align: center;

}