div{
    height: 50px;
    width: 50px;
    background-color: black;
}
@media (width:600px){
    div{
        background-color: red;
    }
}
@media (min-width:601px){
    div{
        background-color: darkorange;
    }
}
@media (max-width:599px){
    div{
        background-color: pink;
    }
}
@media (min-width:200px) and (max-width:300px){
    div{ 
        background-color: chartreuse;
    }
}