div{
    height: 100px;
    width: 100px;
    background-color: aquamarine;
    border: 2px solid black;
    /*transition-property: all;
    transition-duration: 2s;
    transition-timing-function:ease-in-out;/*(steps/ease-in/ease-out/linear)*/
    /*transition-delay: 1s;*/
    transition: all 2s ease-in-out 1s;
 /*  transform: rotate(180deg);*/
   /* rotate: z 180deg;*/
   /*rotate: x 180deg;*/
    position: relative;
    top: 100px;
    left: 100px;
    /*transform: scale(2,3);*/
    /*(transform:scale(x,y)/scalex(x) /scaley(y)*/
    /


}
div:hover{
   /* background-color: red;
    color: white;
    font-size: 20px;*/
   /* transform: scalex(2);
    transform: rotate(360deg);*/
    transform: translate(100px,180px);
    transform: skewX(45deg);
}
div:active{
    background-color: orange;
}